.owl-carousel {
  z-index: 0;
}

.owl-carousel.owl-loaded {
  display: flex;
  justify-content: center;
}

.carousel-wrap {
  width: 1000px;
  margin: auto;
  position: relative;
}
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #2caae1;
}

.owl-carousel .item {
  text-align: center;
}
.owl-carousel .nav---btn {
  /* height: 47px; */
  /* background-color: red; */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  cursor: pointer;
  /* top: 35% !important; */
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.owl-carousel .prev-slide {
  /* background: url(../rightArrow.png) no-repeat scroll 0 0; */
  /* background: url(../leftArrow.png) no-repeat; */
  /* background-size: cover; */
  font-size: 5rem;
  left: -2%;
  transition: all 0.3s;
  color: #fff;
}
.owl-carousel .next-slide {
  /* background: url(../rightArrow.png) no-repeat; */
  /* background-size: cover; */
  font-size: 5rem;
  right: -2%;
  transition: all 0.3s;
  color: #fff;
}
.owl-carousel .prev-slide:hover,
.owl-carousel .next-slide:hover {
  /* background-position: 0px -53px; */
  font-size: 6rem;
}
.owl-carousel .next-slide:hover {
  /* background-position: -24px -53px; */
}

span.img-text {
  text-decoration: none;
  outline: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
  font-size: 23px;
  display: block;
  text-transform: capitalize;
}
span.img-text:hover {
  color: #2caae1;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  /* color: #FFF; */
  /* color: #9b0000; */
  /* transform: scale(1); */
}

.spacing-owl {
  padding: 5rem 0rem;
}

/*  */
.mySlide {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mySlide-container {
  /* max-width: 80%; */
  /* incase emergency  */
  /* max-height: 231.96px; */
}

.mySlide-container img {
  width: 100%;
  /* height: 100%; */
  display: block;
  object-fit: cover;
}

@media (max-width: 400px) {
  .owl-carousel .next-slide {
    right: -6%;
  }

  .owl-carousel .prev-slide {
    left: -6%;
  }
}
